:host {
  display: block;
  height: 100%;
  position: relative;
}

[horizontal] {
  display: flex;
  flex-direction: row;
}
[vertical] {
  display: flex;
  flex-direction: column;
}
[flex] {
  flex: 1;
}
div[vertical][layout] {
  height: 100%;
}

app-toolbar {
  background-color: var(--toolbar-color, #00796B);
  paper-icon-button {
    color: white;
  }
  &[hide] {
    display: none !important;
  }
}
:host([responsive-mode="big"]) {
  #animatedPages {
    ::content {
      & > * {
        position: static !important;
        display: block !important;
      }
    }
  }
  ::content {
    [toolbar] {
      display: none;
    }
  }
}
:host([max-selected][min-selected]) {
  [next-button] {
    display: none;
  }
  ::content {
    [next-button] {
      pointer-events: none;
    }
  }
}
