<!doctype html>
<html>
  <head>
    <title>responsive-columns demo</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <script>window.Polymer = window.Polymer || {};window.Polymer.dom = 'shadow';</script>
    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../app-layout/app-toolbar/app-toolbar.html">
    <link rel="import" href="../responsive-columns.html">

    <style>
      html, body {
        padding: 0;
        margin: 0;
        height: 100%;
      }
      img {
        width: 400px;
      }
      responsive-columns[responsive-mode="big"] > * {
        padding: 0 10px;
        border-right: 1px solid gray;
      }
      responsive-columns[responsive-mode="small"] img {
        width: 100%;
      }

      [toolbar] {
        display: flex;
        flex-direction: row;
      }
      [toolbar] > span {
        flex: 1;
      }


    </style>
  </head>
  <body unresolved>
    <template id="template" is="dom-bind">
      <responsive-columns no-toolbar
                          selected-index="{{selectedIndex}}"
                          min-selected="{{minSelected}}"
                          max-selected="{{maxSelected}}">
        <app-toolbar toolbar>
          <paper-icon-button icon="arrow-back" previous-button disabled="[[minSelected]]"></paper-icon-button>
          <span>column #[[selectedIndex]]</span>
          <paper-icon-button icon="arrow-forward" next-button disabled="[[maxSelected]]"></paper-icon-button>
        </app-toolbar>
        <div>
          <h1>first column</h1>
          <img src="dino.jpg" alt=""/>
        </div>
        <div>
          <h1>second column</h1>
          <p>This is the second column</p>
        </div>
        <div>
          <h1>third column</h1>
        </div>
      </responsive-columns>
    </template>

    <script>
      var template = document.getElementById('template');
      template.addEventListener('dom-change', function() {
        // auto-binding template is ready.
        // template.someproperty = 'test'
      });
    </script>
  </body>
</html>
